<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <style>
        .data {
            justify-content: center;
            text-align: center;
        }
        #btn{
         margin-bottom: 10px;

        }
        .thead{
        text-align: center;

        }
        .logout{
        margin-left: 93%;
        margin-top: -40px
        }
    </style>

</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Employee Management System</a>

</nav>

<div class="container">
    <div class="row">
        <h1>List Employees</h1>
    </div>

    <div class="container my-4">

        <div th:switch="${Employee}" class="container my-1">

            <p class="my-1">
                <a href="/employee/add" class="btn btn-primary"> <i class="fas fa-user">Add Employee</i></a>
                <a href="/employee/delete" class="btn btn-primary"><i class="fas fa-user">Deleted Employee List</i></a>
            </p>
            <div class="logout">
                <a href="/logout" class="btn btn-primary"><i class="fas fa-user">Logout</i></a>
            </div>
            <br>
            <table class="table table-striped table-bordered">

                <thead class="table-dark">

                <tr class="thead">
<!--                    <th>Employee ID</th>-->
                    <th>Employee First Name</th>
                    <th>Employee Last Name</th>
                    <th>Employee Email ID</th>
                    <th>Employee Phone Number</th>
                    <th>Actions</th>
                </tr>

                </thead>

                <tbody class="data">

                <tr th:each="employee : ${ListEmployees}">
<!--                    <td th:text="${employee.id}"></td>-->
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phoneNo}"></td>
                    <td>
                        <a th:href="@{/employee/update/{id}(id=${employee.id})}"
                           class="btn btn-primary" id="btn">Update</a>
                        <a th:href="@{/employee/delete/{id}(id=${employee.id})}"
                           class="btn btn-danger" id="btn1">Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
            <div class="col-md-6">
                <a href="/EmployeePdf">
                    <button id="btn" class="btn btn-primary">Download PDF</button>
                </a>
            </div>

        </div>

    </div>

</div>

</body>

</html>
